{% extends "nav_bar.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="idx_div1">
    <h1 id="idx_h1">Machine Translation</h1>
    <form action="">
        <div id="idx_div2">
            <textarea id="idx_inputText1" placeholder="Enter text to translate"></textarea>
        </div>
        <div id="idx_div3">
            <button onclick="translate()" id="idx_translate">Translate</button>
        </div>
        <div id="idx_div4">
            <p id="idx_p1">Translated Text:</p>
            <div id="idx_translatedText"></div>
        </div>
    </form>
</div>
{% endblock %}