<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Machine Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Machine Translation</h1>
        <div>
            <textarea id="inputText" placeholder="Enter text to translate"></textarea>
        </div>
        <div>
            <button onclick="translate()">Translate</button>
        </div>
        <div>
            <p>Translated Text:</p>
            <div id="translatedText"></div>
        </div>
    </div>
    <!-- <script>
        function translate() {
            const inputText = document.getElementById('inputText').value;

            fetch('/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: inputText })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('translatedText').innerText = data.translated_text;
                })
                .catch(error => console.error('Error:', error));
        }
    </script> -->
</body>

</html>