<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}GENERIC TITLE{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_bar.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Reverse String</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <br /><br />
    {% block content %}
    {% endblock %}
</body>

</html>